

/* =============================================================================
   App specific CSS file.

   This is usually where the site/app's CSS specific rules are setup. Note that you could
   do exactly the same using less by adding a '@import app.less;' at the end of
   css/less/bootstrap.less file.

   ========================================================================== */

/* shim for Word Press footer */
#foot_wrapper p, #head_wrapper p {
	line-height: 13.67px;
	margin: 0;
}

#headersearch form {
	height: 25px;
	margin: 0;
}

#headersearch input {
	margin: 0;
	padding: 0;
	height: 14px;
	padding: 2px;
}
