<div id="header">
	<div id="logo">
		<a id="homelink" href="http://www.yeastgenome.org/">&nbsp;</a>
	</div>
	<div id="headerright">
		<div id="headerlinks">
			<a id="email" target="_blank" href="http://www.yeastgenome.org/cgi-bin/suggestion">&nbsp;</a><a id="twitter" target="_blank" href="http://twitter.com/#%21/yeastgenome">&nbsp;</a><a id="facebook" target="_blank" href="https://www.facebook.com/pages/Saccharomyces-Genome-Database-SGD/139140876128200">&nbsp;</a><a id="rss" target="_blank" href="http://www.yeastgenome.org/?feed=rss2">&nbsp;</a>
			<div id="headermenu">
				<div class="menu-top-menu-container">
					<ul id="menu-top-menu" class="menu">
						<li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82">
							<a href="http://www.yeastgenome.org/about">About</a>
						</li>
						<li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83">
							<a href="http://www.yeastgenome.org/blog">Blog</a>
						</li>
						<li id="menu-item-794" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-794">
							<a href="http://www.yeastgenome.org/download-data">Download</a>
						</li>
						<li id="menu-item-89" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89">
							<a href="http://www.yeastgenome.org/site-map">Site Map</a>
						</li>
						<li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90">
							<a href="http://www.yeastgenome.org/help">Help</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="clearfloats">
				<!-- this comment is the non-floated element -->
			</div>
		</div>
		<div id="headersearch">
			<form id="searchform" method="get" action="http://www.yeastgenome.org/cgi-bin/search/luceneQS.fpl">
				<input aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" class="ui-autocomplete-input" style="width: 175px;" onclick="clickclear(this, 'search our site')" alt="search our site" id="txt_search" name="query" value="search our site" type="text">
				<input value=" " id="go" type="submit">
			</form>
			<p>
				Advanced Search via <a href="http://yeastmine.yeastgenome.org/yeastmine/begin.do" target="_blank">YeastMine</a>
			</p>
		</div>
	</div>
	<div class="clearfloats">
		<!-- this comment is the non-floated element -->
	</div>
	<div id="nav">
		<div class="menu-main-menu-container">
			<ul id="menu-main-menu" class="menu">
				<li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item menu-item-27">
					<a href="http://www.yeastgenome.org/">Home</a>
				</li>
				<li id="menu-item-110" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-110">
					<a href="#">Analyze</a>
					<ul class="sub-menu">
						<li id="menu-item-28" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28">
							<a target="_blank" href="http://www.yeastgenome.org/cgi-bin/blast-sgd.pl">BLAST</a>
						</li>
						<li id="menu-item-29" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29">
							<a target="_blank" href="http://www.yeastgenome.org/cgi-bin/blast-fungal.pl">Fungal BLAST</a>
						</li>
						<li id="menu-item-30" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30">
							<a target="_blank" href="http://www.yeastgenome.org/cgi-bin/GO/goTermFinder.pl">GO Term Finder</a>
						</li>
						<li id="menu-item-206" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-206">
							<a href="http://www.yeastgenome.org/cgi-bin/GO/goSlimMapper.pl">GO Slim Mapper</a>
						</li>
						<li id="menu-item-207" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-207">
							<a href="http://www.yeastgenome.org/cgi-bin/PATMATCH/nph-patmatch">Pattern Matching</a>
						</li>
						<li id="menu-item-208" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-208">
							<a href="http://www.yeastgenome.org/cgi-bin/web-primer">Design Primers</a>
						</li>
						<li id="menu-item-209" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-209">
							<a href="http://www.yeastgenome.org/cgi-bin/PATMATCH/RestrictionMapper">Restriction Mapper</a>
						</li>
					</ul>
				</li>
				<li id="menu-item-31" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31">
					<a href="#">Sequence</a>
					<ul class="sub-menu">
						<li id="menu-item-32" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-32">
							<a target="_blank" href="http://browse.yeastgenome.org/fgb2/gbrowse/scgenome/">Genome Browser</a>
						</li>
						<li id="menu-item-33" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-33">
							<a target="_blank" href="http://www.yeastgenome.org/cgi-bin/blast-sgd.pl">BLAST</a>
						</li>
						<li id="menu-item-34" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-34">
							<a target="_blank" href="http://www.yeastgenome.org/cgi-bin/blast-fungal.pl">Fungal BLAST</a>
						</li>
						<li id="menu-item-35" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35">
							<a target="_blank" href="http://www.yeastgenome.org/cgi-bin/seqTools">Gene / Sequence Resources</a>
						</li>
						<li id="menu-item-36" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36">
							<a href="#">Reference Genome</a>
							<ul class="sub-menu">
								<li id="menu-item-2198" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2198">
									<a href="http://www.yeastgenome.org/cache/genomeSnapshot.html">Genome Snapshot</a>
								</li>
								<li id="menu-item-188" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-188">
									<a href="http://www.yeastgenome.org/cgi-bin/chromosomeHistory.pl">Chromosome History</a>
								</li>
								<li id="menu-item-187" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-187">
									<a href="http://www.yeastgenome.org/cache/chromosomes.shtml">Systematic Sequencing Table</a>
								</li>
								<li id="menu-item-189" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-189">
									<a href="http://www.yeastgenome.org/community/nature_genome_dir_pdf/">Original sequence papers</a>
								</li>
							</ul>
						</li>
						<li id="menu-item-190" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-190">
							<a href="#">Strains and species</a>
							<ul class="sub-menu">
								<li id="menu-item-933" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-933">
									<a href="http://www.yeastgenome.org/cgi-bin/FUNGI/alignment.pl">Align Strain Sequences</a>
								</li>
								<li id="menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40">
									<a target="_blank" href="http://www.yeastgenome.org/cgi-bin/FUNGI/FungiMap">Synteny Viewer</a>
								</li>
							</ul>
						</li>
						<li id="menu-item-48" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48">
							<a href="#">Homology</a>
							<ul class="sub-menu">
								<li id="menu-item-49" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-49">
									<a target="_blank" href="http://www.yeastgenome.org/cgi-bin/FUNGI/showAlign">Fungal Alignment</a>
								</li>
								<li id="menu-item-50" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50">
									<a href="http://www.yeastgenome.org/cgi-bin/protein/get3d">PDB Search</a>
								</li>
							</ul>
						</li>
						<li id="menu-item-51" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51">
							<a href="#">Resources</a>
							<ul class="sub-menu">
								<li id="menu-item-52" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52">
									<a target="_blank" href="http://www.uniprot.org/">UniProtKB (EBI)</a>
								</li>
								<li id="menu-item-53" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-53">
									<a target="_blank" href="http://www.ebi.ac.uk/interpro/">InterPro (EBI)</a>
								</li>
								<li id="menu-item-54" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-54">
									<a target="_blank" href="http://www.ncbi.nlm.nih.gov/homologene">HomoloGene (NCBI)</a>
								</li>
								<li id="menu-item-55" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55">
									<a href="http://wolfe.gen.tcd.ie/ygob/">YGOB (Trinity College)</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li id="menu-item-56" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-56">
					<a href="#">Function</a>
					<ul class="sub-menu">
						<li id="menu-item-170" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-170">
							<a href="#">GO</a>
							<ul class="sub-menu">
								<li id="menu-item-171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-171">
									<a href="http://www.yeastgenome.org/cgi-bin/GO/goTermFinder.pl">GO Term Finder</a>
								</li>
								<li id="menu-item-172" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-172">
									<a href="http://www.yeastgenome.org/cgi-bin/GO/goSlimMapper.pl">GO Slim Mapper</a>
								</li>
								<li id="menu-item-173" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-173">
									<a href="http://downloads.yeastgenome.org/curation/literature/go_slim_mapping.tab">GO Slim Mapping File</a>
								</li>
							</ul>
						</li>
						<li id="menu-item-144" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-144">
							<a target="_blank" href="http://spell.yeastgenome.org/">Expression</a>
						</li>
						<li id="menu-item-141" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-141">
							<a target="_blank" href="http://pathway.yeastgenome.org/">Biochemical Pathways</a>
						</li>
						<li id="menu-item-174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-174">
							<a href="#">Phenotypes</a>
							<ul class="sub-menu">
								<li id="menu-item-175" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-175">
									<a href="http://www.yeastgenome.org/cgi-bin/phenotype/phenotype.pl">Search for phenotypes</a>
								</li>
								<li id="menu-item-176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-176">
									<a href="http://www.yeastgenome.org/cache/PhenotypeTree.html">Browse all phenotypes</a>
								</li>
							</ul>
						</li>
						<li id="menu-item-178" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-178">
							<a href="http://www.yeastgenome.org/cgi-bin/interactions.pl">Interactions</a>
						</li>
						<li id="menu-item-180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-180">
							<a href="http://yeastgfp.yeastgenome.org/">YeastGFP</a>
						</li>
						<li id="menu-item-182" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-182">
							<a href="#">Resources</a>
							<ul class="sub-menu">
								<li id="menu-item-183" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-183">
									<a href="http://www.geneontology.org/">GO Consortium</a>
								</li>
								<li id="menu-item-184" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-184">
									<a href="http://thebiogrid.org/">BioGRID (U. Toronto)</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li id="menu-item-60" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-60">
					<a href="#">Literature</a>
					<ul class="sub-menu">
						<li id="menu-item-211" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-211">
							<a href="http://textpresso.yeastgenome.org/">Full-text Search (Textpresso)</a>
						</li>
						<li id="menu-item-212" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-212">
							<a href="http://www.yeastgenome.org/cache/NewPapersThisWeek.html">New Yeast Papers</a>
						</li>
						<li id="menu-item-213" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-213">
							<a href="http://www.yeastgenome.org/cache/genome-wide-analysis.html">Genome-wide Analysis Papers</a>
						</li>
						<li id="menu-item-217" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-217">
							<a href="#">Resources</a>
							<ul class="sub-menu">
								<li id="menu-item-214" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-214">
									<a href="http://www.ncbi.nlm.nih.gov/pubmed/">PubMed (NCBI)</a>
								</li>
								<li id="menu-item-215" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-215">
									<a href="http://www.ncbi.nlm.nih.gov/pmc/">PubMed Central (NCBI)</a>
								</li>
								<li id="menu-item-216" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-216">
									<a href="http://scholar.google.com/">Google Scholar</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li id="menu-item-61" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-61">
					<a href="#">Community</a>
					<ul class="sub-menu">
						<li id="menu-item-307" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-307">
							<a href="#">Colleague Information</a>
							<ul class="sub-menu">
								<li id="menu-item-309" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-309">
									<a href="http://www.yeastgenome.org/cgi-bin/colleague/colleagueInfoSearch">Find a Colleague</a>
								</li>
								<li id="menu-item-310" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-310">
									<a href="http://www.yeastgenome.org/cgi-bin/colleague/colleagueSearch">Add or Update Info</a>
								</li>
								<li id="menu-item-311" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-311">
									<a href="http://www.yeastgenome.org/cache/yeastLabs.html">Find a Yeast Lab</a>
								</li>
							</ul>
						</li>
						<li id="menu-item-258" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-258">
							<a href="http://wiki.yeastgenome.org/index.php/Career_Resources">Career Resources</a>
						</li>
						<li id="menu-item-315" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-315">
							<a href="#">Meetings</a>
							<ul class="sub-menu">
								<li id="menu-item-312" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-312">
									<a href="http://wiki.yeastgenome.org/index.php/Meetings#Upcoming_Conferences_.26_Courses">Future</a>
								</li>
								<li id="menu-item-313" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-313">
									<a href="http://wiki.yeastgenome.org/index.php/Meetings#Past_Yeast_Meetings">Yeast Genetics Meetings</a>
								</li>
							</ul>
						</li>
						<li id="menu-item-297" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-297">
							<a href="#">Nomenclature</a>
							<ul class="sub-menu">
								<li id="menu-item-256" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-256">
									<a href="http://www.yeastgenome.org/cgi-bin/registry/geneRegistry">Submit a Gene Registration</a>
								</li>
								<li id="menu-item-2632" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2632">
									<a href="http://www.yeastgenome.org/help/community/gene-registry">Gene Registry</a>
								</li>
								<li id="menu-item-2631" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2631">
									<a href="http://www.yeastgenome.org/help/community/nomenclature-conventions">Nomenclature Conventions</a>
								</li>
								<li id="menu-item-1055" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1055">
									<a href="http://www.yeastgenome.org/cgi-bin/geneHunter">Global Gene Hunter</a>
								</li>
							</ul>
						</li>
						<li id="menu-item-300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-300">
							<a href="#">Methods and Reagents</a>
							<ul class="sub-menu">
								<li id="menu-item-301" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-301">
									<a href="http://wiki.yeastgenome.org/index.php/Strains">Strains and Constructs</a>
								</li>
								<li id="menu-item-302" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-302">
									<a href="http://wiki.yeastgenome.org/index.php/Reagents">Reagents</a>
								</li>
								<li id="menu-item-303" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-303">
									<a href="http://wiki.yeastgenome.org/index.php/Methods">Protocols and Methods</a>
								</li>
								<li id="menu-item-304" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-304">
									<a href="http://www.yeastgenome.org/cgi-bin/clone.pl">Find a Clone</a>
								</li>
							</ul>
						</li>
						<li id="menu-item-318" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-318">
							<a href="#">Historical Data</a>
							<ul class="sub-menu">
								<li id="menu-item-1060" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1060">
									<a href="http://www.yeastgenome.org/pgMaps/pgMap.shtml">Physical &amp; Genetic Maps</a>
								</li>
								<li id="menu-item-1061" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1061">
									<a href="http://www.yeastgenome.org/community/mortimer_maps/edition12.shtml">Genetic Maps</a>
								</li>
								<li id="menu-item-320" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-320">
									<a href="http://wiki.yeastgenome.org/index.php/Historical_Systematic_Sequence_Information">Sequence</a>
								</li>
								<li id="menu-item-321" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-321">
									<a href="http://www.yeastgenome.org/cache/geneSummarytable.html">Gene Summary Paragraphs</a>
								</li>
							</ul>
						</li>
						<li id="menu-item-299" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-299">
							<a href="http://wiki.yeastgenome.org/index.php/External_Links">Resources</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="clearfloats">
		<!-- this comment is the non-floated element -->
	</div>
</div>
