<div class="well sidebar-nav">
	<div class="well">
		<input type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'>
	</div>
	<ul class="nav nav-list">
		<li class="nav-header">
			Sidebar
		</li>
		<li class="active">
			<a href="#">Link</a>
		</li>
		<li>
			<a href="#">Link</a>
		</li>
		<li>
			<a href="#">Link</a>
		</li>
		<li>
			<a href="#">Link</a>
		</li>
		<li class="nav-header">
			Sidebar
		</li>
		<li>
			<a href="#">Link</a>
		</li>
		<li>
			<a href="#">Link</a>
		</li>
		<li>
			<a href="#">Link</a>
		</li>
		<li>
			<a href="#">Link</a>
		</li>
		<li>
			<a href="#">Link</a>
		</li>
		<li>
			<a href="#">Link</a>
		</li>
		<li class="nav-header">
			Sidebar
		</li>
		<li>
			<a href="#">Link</a>
		</li>
		<li>
			<a href="#">Link</a>
		</li>
		<li>
			<a href="#">Link</a>
		</li>
	</ul>
</div><!--/.well -->
